name: visioncnn
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.11
  - pytorch=2.5.1
  - torchvision=0.20.1
  - pytorch-cuda=12.1
  - pip
  - pip:
    - nvidia-dali-cuda120>=1.35
    - -e .
